body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
h1{
  background-color: #d9d9a4 ;
  border: #703434 solid;
}
p {
  color: red;
  text-align: center;
}
.myHeader{
  background-color: #d9d9a4 ;

}
.ml{
  width: 100%;
  height: 400px;
}